---
http_interactions:
- request:
    method: post
    uri: https://api.mixcloud.com/upload/?access_token=<MIXCLOUD_TOKEN>
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - multipart/form-data; boundary=-----------RubyMultipartPost
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: UTF-8
      string: "{\n    \"result\": {\n        \"message\": \"Uploaded test\", \n        \"key\":
        \"/freedrool/test/\", \n        \"success\": true\n    }\n}"
  recorded_at: Wed, 05 Jul 2017 02:30:35 GMT
recorded_with: VCR 3.0.3
